.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 90%;
  overflow: hidden;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slider-content {
  display: flex;
  animation: 25s slide infinite linear;
}

.logo-wrapper {
  flex-shrink: 0;
  margin: 2vw;
  height: 50px;
  display: flex;
  justify-content: flex-start;
}

.logo {
  height: 50px;
  width: auto;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .slider-content {
    animation: 15s slide infinite linear;
  }

  .logo {
    height: 40px;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-300%);
    }
  }

  .logo-wrapper {
    margin: 0vw 5vw;
  }
}

@media only screen and (max-width: 480px) {
  .slider-content {
    animation: 15s slide infinite linear;
  }

  .logo {
    height: 40px;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-300%);
    }
  }

  .logo-wrapper {
    margin: 0vw 5vw;
  }
}
